.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  min-width: 200px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  border: 3px solid black;
}

.name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  color: #000;
}

.title,
.age {
  font-size: 18px;
  margin-bottom: 4px;
  color: #000;
}
